<!--<div class="rooms_wrap">
<div class="soot">
    <h2>List of all rooms</h2>
    <div class="container">
         {{#each roomLists}} 
        <div class="room">
            <img class="img" src= "/uploads/{{this.roomImage}}" alt="room1" >
            <h3>{{this.title}}</h3>
            <h3>{{this.description}}</h3>
            <p>{{this.location}}</p>
            <p>{{this.price}}</p>
        </div>
         {{else}}
           No rooms in database 
     {{/each}}
     </div>
     </div>
</div>-->
     
     <div class="rooms_wrap">
     <div class="soot">
         <div class="container">
      {{#each roomLists}} 
      <div class="room">
        <img class="img" src="/uploads/{{this.roomImage}}">
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p>{{this.location}}</p>
        <p>{{this.price}}</p>
        
        </div>
            {{else}}
        No rooms in database 
        {{/each}}
    </div>

        </div>
        </div>





       <!-- <div class="room">
            <img class="img" src="/image/room2.jpeg" alt="room1" >
            <h3>Romantic Cabana with view</h3>
            <p>$234 CAD/night</p>
        </div>
        <div class="room">
             <img class="img" src="/image/room3.jpeg" alt="room1" >
             <h3>The Joshua Tree House</h3>
             <p>$143 CAD/night</p>
        </div>
        <div class="room">
            <img class="img" src="/image/room4.jpeg" alt="room1" >
            <h3>Unique Cobb Cottage - 2beds</h3>
            <p>$76 CAD/night</p>
        </div>
        <div class="room">
            <img class="img" src="/image/room5.jpeg" alt="room1" >
            <h3>Stylish Downtown Cozy room</h3>
            <p>$98 CAD/night</p>
        </div>
        <div class="room">
            <img class="img" src="/image/room6.jpeg" alt="room1" >
            <h3>Private Studio Flat</h3>
            <p>$167 CAD/night</p>
        </div>
    </div>
</div>-->


