<main> 
    <div class="room">
        Title : {{roomkDocument.title}}
    </div> 

     <div>
        Price : {{roomkDocument.price}}
    </div> 

    <div>
        Description : {{roomDocument.description}}
    </div>
    

    <div>
        Location : {{roomDocument.location}}
    </div>

    <div>
        Image : {{roomDocument.roomImage}}
    </div>
<!--dogmeye book now ro bayad inja bezaram -->
</main>
</div>